<section class="home-slider style-2 position-relative mb-50"
         style="background-image: url(&quot;storage/sliders/banner-1.png&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="home-slide-cover">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1 slick-initialized slick-slider slick-dotted">
                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 1700px;">
                                <div class="single-hero-slider single-animation-wrap slick-slide" data-slick-index="0"
                                     style="background-image: url(&quot;storage/sliders/2-1.png&quot;); width: 850px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"
                                     aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide10"
                                     aria-describedby="slick-slide-control10">
                                    <div class="slider-content"><h1 class="display-2 mb-40">
                                            Don’t miss amazing<br> grocery deals
                                        </h1>
                                        <p class="mb-65">Sign up for the daily newsletter</p>
                                        <div class="newsletter">
                                            <form method="post" action="https://nest.botble.com/newsletter/subscribe"
                                                  class="form-subcriber d-flex newsletter-form "><input type="hidden"
                                                                                                        name="_token"
                                                                                                        value="qWpbR30nwBb22fff6k69iwuCdeIo5Zc0OqLALSEi"
                                                                                                        tabindex="-1">
                                                <input type="email" name="email" placeholder="Your email address"
                                                       tabindex="-1">
                                                <button type="submit" class="btn" tabindex="-1">Subscribe</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-hero-slider single-animation-wrap slick-slide slick-current slick-active"
                                     data-slick-index="1"
                                     style="background-image: url(&quot;storage/sliders/2-2.png&quot;); width: 850px; position: relative; left: -850px; top: 0px; z-index: 999; opacity: 1;"
                                     aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide11"
                                     aria-describedby="slick-slide-control11">
                                    <div class="slider-content"><h1 class="display-2 mb-40">
                                            Fresh Vegetables<br>
                                            Big discount
                                        </h1>
                                        <p class="mb-65">Save up to 50% off on your first order</p>
                                        <div class="newsletter">
                                            <form method="post" action="https://nest.botble.com/newsletter/subscribe"
                                                  class="form-subcriber d-flex newsletter-form "><input type="hidden"
                                                                                                        name="_token"
                                                                                                        value="qWpbR30nwBb22fff6k69iwuCdeIo5Zc0OqLALSEi"
                                                                                                        tabindex="0">
                                                <input type="email" name="email" placeholder="Your email address"
                                                       tabindex="0">
                                                <button type="submit" class="btn" tabindex="0">Subscribe</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="slick-dots" style="" role="tablist">
                            <li class="" role="presentation">
                                <button type="button" role="tab" id="slick-slide-control10"
                                        aria-controls="slick-slide10" aria-label="1 of 2" tabindex="-1">1
                                </button>
                            </li>
                            <li role="presentation" class="slick-active">
                                <button type="button" role="tab" id="slick-slide-control11"
                                        aria-controls="slick-slide11" aria-label="2 of 2" tabindex="0"
                                        aria-selected="true">2
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"><span class="slider-btn slider-prev slick-arrow"
                                                                        style=""><i class="fi-rs-angle-left"></i></span><span
                                class="slider-btn slider-next slick-arrow" style=""><i
                                    class="fi-rs-angle-right"></i></span></div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-xl-block">
                <div class="banner-img style-3 animated animated"
                     style="background-image: url(&quot;storage/promotion/5.png&quot;);">
                    <div class="banner-text  mt-50"><h2 class="mb-50">Delivered to your home</h2> <a
                                href="products.html" class="btn btn-xs">
                            Shop now <i class="fi-rs-arrow-small-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>