<div class="search-style-2">
    <form action="#">
        <select class="select-active">
            <option>Toutes les catégories</option>
            {# {% for categorie in lescategories.getCategorie %}
                <option name="{{ categorie.libele }}">{{ categorie.libele }}</option>
            {% endfor %} #}
        </select>
        <input type="text" placeholder="Rechercher des articles..."/>
    </form>
</div>