{% extends 'base.html.twig' %}

{% block body %}
<main class="main">
    {% include 'accueil/partials/_home-slider.html.twig' %}
    {% include 'accueil/partials/_banner_categories.html.twig' %}
    {# {% include 'accueil/partials/_grid-exposant.html.twig' %} #}
</main>
{% endblock %}